body{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows:  34vh 34vh;
    background-color: white;
}

header{
    background-image: url(./img/723882_0.webp);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:contain;  
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    height: 200px;
    align-items: center;
    grid-column: 1/3;
}
#rubrik{
    color: black;
    background-color: gray;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    
}
.vit{
    background-color: #d6d4d4;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
}
.grå{
    background-color: #d6d4d4;
    margin-right: 60%;
    font-family: "Montserrat", sans-serif;
}
nav{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #navrubrik{
        text-align: center;
        background-color: turquoise;}
        font-family: "Montserrat", sans-serif;
}
#korv{
    height:300px;
    padding: 0%;
    grid-column: 1/2;
    grid-row: 3/4;
}
#ingredienser{
grid-row: 4/5;
grid-column: 1/2;
background-color: white;
}
ol{
    display: inline-block;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}
main{
    grid-row: 3/5;
}
#instruk{
    li{
        margin-bottom: 5%;
        font-size: large;
    }
}
.border{
    border: 5px solid black;
}
#omosshead{
    display: flex;
    flex-direction: row;
  
}